
<ng-container *ngIf="!gettingInfo && !!pokemonBioPage && !!sprites; else loading">
    <app-title [name]="pokemonBioPage?.name"
               [id]="pokemonBioPage?.id"
               [types]="pokemonBioPage?.types"></app-title>
    <app-sprites [sprites]="sprites"></app-sprites>
    <app-information [currentInfo]="currentView"
    [abilities]="pokemonBioPage?.abilities"
    [stats]="pokemonBioPage?.stats"></app-information>
</ng-container>
<ng-template #loading>
        <app-loading></app-loading>
    </ng-template>