<!-- SVG Design from https://dribbble.com/shots/6348374-Pokeball -->
<svg width="285px" height="315px" viewBox="0 0 385 415" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
      <path d="M279,133 C279,59.5461283 216.543723,0 139.5,0 C62.4562774,0 1.48780195e-13,59.5461283 1.42108547e-13,133 C139,133 139,133 279,133 Z" id="path-1"></path>
      <filter x="-6.5%" y="-13.5%" width="112.9%" height="127.1%" filterUnits="objectBoundingBox" id="filter-2">
          <feOffset dx="-30" dy="-2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.847005208   0 0 0 0 0.0443515685   0 0 0 0 0.262020352  0 0 0 1 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
          <feOffset dx="8" dy="2" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
          <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.6 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
          <feGaussianBlur stdDeviation="1.5" in="SourceAlpha" result="shadowBlurInner3"></feGaussianBlur>
          <feOffset dx="-10" dy="0" in="shadowBlurInner3" result="shadowOffsetInner3"></feOffset>
          <feComposite in="shadowOffsetInner3" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner3"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.744197237   0 0 0 0 0.0275670623   0 0 0 0 0.223329452  0 0 0 1 0" type="matrix" in="shadowInnerInner3" result="shadowMatrixInner3"></feColorMatrix>
          <feMerge>
              <feMergeNode in="shadowMatrixInner1"></feMergeNode>
              <feMergeNode in="shadowMatrixInner2"></feMergeNode>
              <feMergeNode in="shadowMatrixInner3"></feMergeNode>
          </feMerge>
      </filter>
      <path d="M279,282.5 C279,209.046128 216.543723,149.5 139.5,149.5 C62.4562774,149.5 1.48780195e-13,209.046128 1.42108547e-13,282.5 C139,282.5 139,282.5 279,282.5 Z" id="path-3"></path>
      <filter x="-6.5%" y="-13.5%" width="112.9%" height="127.1%" filterUnits="objectBoundingBox" id="filter-4">
          <feOffset dx="-30" dy="11" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.894117647   0 0 0 0 0.91372549   0 0 0 0 0.937254902  0 0 0 1 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
          <feOffset dx="8" dy="1" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
          <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
          <feGaussianBlur stdDeviation="1.5" in="SourceAlpha" result="shadowBlurInner3"></feGaussianBlur>
          <feOffset dx="-10" dy="5" in="shadowBlurInner3" result="shadowOffsetInner3"></feOffset>
          <feComposite in="shadowOffsetInner3" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner3"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.763682291   0 0 0 0 0.78005653   0 0 0 0 0.799705616  0 0 0 1 0" type="matrix" in="shadowInnerInner3" result="shadowMatrixInner3"></feColorMatrix>
          <feMerge>
              <feMergeNode in="shadowMatrixInner1"></feMergeNode>
              <feMergeNode in="shadowMatrixInner2"></feMergeNode>
              <feMergeNode in="shadowMatrixInner3"></feMergeNode>
          </feMerge>
      </filter>
      <circle id="path-5" cx="126.5" cy="43.5" r="43.5"></circle>
      <filter x="-15.5%" y="-15.5%" width="131.0%" height="131.0%" filterUnits="objectBoundingBox" id="filter-6">
          <feOffset dx="-11" dy="-8" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.908910779   0 0 0 0 0.908910779   0 0 0 0 0.908910779  0 0 0 1 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
          <feOffset dx="9" dy="7" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
          <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
          <feMerge>
              <feMergeNode in="shadowMatrixInner1"></feMergeNode>
              <feMergeNode in="shadowMatrixInner2"></feMergeNode>
          </feMerge>
      </filter>
      <ellipse id="path-7" cx="127.011765" cy="43.5124821" rx="20.4705882" ry="19.9713056"></ellipse>
      <filter x="-14.7%" y="-15.0%" width="134.2%" height="145.1%" filterUnits="objectBoundingBox" id="filter-8">
          <feMorphology radius="3" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
          <feOffset dx="2" dy="6" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
          <feComposite in="shadowOffsetOuter1" in2="SourceAlpha" operator="out" result="shadowOffsetOuter1"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.807843137   0 0 0 0 0.831372549   0 0 0 0 0.862745098  0 0 0 1 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
      </filter>
      <filter x="-22.0%" y="-22.5%" width="148.9%" height="160.1%" filterUnits="objectBoundingBox" id="filter-9">
          <feOffset dx="-12" dy="-8" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 0.894117647   0 0 0 0 0.91372549   0 0 0 0 0.937254902  0 0 0 1 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
          <feOffset dx="6" dy="4" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
          <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
          <feColorMatrix color-interpolation-filters="sRGB" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
          <feMerge>
              <feMergeNode in="shadowMatrixInner1"></feMergeNode>
              <feMergeNode in="shadowMatrixInner2"></feMergeNode>
          </feMerge>
      </filter>
  </defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="pokeball" transform="translate(-258.000000, -159.000000)">
          <g id="Group-7" transform="translate(281.000000, 162.000000)">
              <ellipse id="Oval" fill="#D7E6EE" cx="139.5" cy="281" rx="127.5" ry="31"></ellipse>
              <g class="ball">
                  <g id="Group-3">
                      <g id="Group-2" stroke-linecap="round" stroke-linejoin="round">
                          <g id="Oval-Copy-4">
                              <use fill="#F60A4A" fill-rule="evenodd" xlink:href="#path-1"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                              <use stroke="#25253F" stroke-width="6" xlink:href="#path-1"></use>
                          </g>
                          <g id="Oval-Copy-5" transform="translate(139.500000, 216.000000) scale(1, -1) translate(-139.500000, -216.000000) ">
                              <use fill="#F5F5F5" fill-rule="evenodd" xlink:href="#path-3"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                              <use stroke="#25253F" stroke-width="6" xlink:href="#path-3"></use>
                          </g>
                      </g>
                      <g id="Group" transform="translate(13.000000, 98.000000)">
                          <g id="Oval-Copy-6">
                              <use fill="#F5F5F5" fill-rule="evenodd" xlink:href="#path-5"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                              <use stroke="#25253F" stroke-width="16" xlink:href="#path-5"></use>
                          </g>
                          <g class="button">
                              <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
                              <use fill="#F5F5F5" fill-rule="evenodd" xlink:href="#path-7"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-9)" xlink:href="#path-7"></use>
                              <use stroke="#25253F" stroke-width="6" xlink:href="#path-7"></use>
                          </g>
                          <path d="M76,43.5 L0,43.5" id="Line-Copy-3" stroke="#25253F" stroke-width="23" stroke-linecap="square"></path>
                          <path d="M253,43.5 L177,43.5" id="Line-Copy-4" stroke="#25253F" stroke-width="22" stroke-linecap="square"></path>
                      </g>
                  </g>
                  <g id="Group-5" transform="translate(70.778174, 63.297986) rotate(3.000000) translate(-70.778174, -63.297986) translate(22.278174, 7.797986)" fill-opacity="0.6">
                      <path d="M54.1658922,99.4142136 C65.2115872,99.4142136 57.9024362,76.0974866 57.9024362,48.2071068 C57.9024362,20.3167269 72.282655,-3 61.23696,-3 C50.191265,-3 32.0445718,21.7309405 32.0445718,49.6213203 C32.0445718,77.5117002 43.1201972,99.4142136 54.1658922,99.4142136 Z" id="Oval" fill="#FFFFFF" transform="translate(48.726918, 48.207107) rotate(45.000000) translate(-48.726918, -48.207107) "></path>
                      <path d="M12.5,96.9801889 C12.5,96.9801889 12.5,96.9801889 12.5,96.9801889 C12.5,96.9801889 12.5,96.9801889 12.5,96.9801889 L12.5,96.9801889 C15.5375676,96.9801889 18.0000027,99.442624 18.0000027,102.480192 L18.0000005,103.806115 C18.0000005,106.004081 16.2813007,107.818374 14.0865503,107.937228 C13.5577003,107.965869 13.0288502,107.980189 12.5,107.980189 C11.97115,107.980189 11.4423,107.965869 10.91345,107.93723 L10.9134502,107.937227 C8.71870004,107.818373 7.00000051,106.004081 7.00000051,103.806115 L6.99999773,102.480191 C6.99999773,99.4426238 9.46243262,96.9801889 12.5,96.9801889 Z" id="Rectangle-Copy-3" fill="#F9F9F9" transform="translate(12.500001, 102.480189) rotate(-45.000000) translate(-12.500001, -102.480189) "></path>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>