<div class="navigation">
  <div class="search-box">
    <button class="search" routerLink="search"></button>
  </div>
  <div class="box-align">
    <button class="camera" routerLink="bioPage"></button>
    <button class="speech"></button>
    <div class="green-box"></div>
  </div>
</div>
<div class="arrows">
  <div class="center">
    <button class="up" (click)="arrowClick(arrowControls?.up?.value)"></button>
  </div>
  <div class="space-between">
    <button class="left" (click)="arrowClick(arrowControls?.left?.value)"></button>
    <button class="right" (click)="arrowClick(arrowControls?.right?.value)"></button>
  </div>
    <div class="center">
      <button class="down" (click)="arrowClick(arrowControls?.down?.value)"></button>
    </div>
</div>