<div class="navigation">
  <div class="search-box">
    <button class="search" routerLink="search"></button>
  </div>
  <div class="box-align">
    <button class="camera"></button>
    <button class="speech"></button>
    <div class="green-box"></div>
  </div>
</div>
<div class="arrows">
  <div class="center">
    <button class="up" (click)="up()"></button>
  </div>
  <div class="space-between">
    <button class="left" (click)="left()"></button>
    <button class="right" (click)="right()"></button>
  </div>
    <div class="center">
      <button class="down" (click)="down()"></button>
    </div>
</div>