<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
    <div class="top">
        <app-lights [isOpen]="isOpen"></app-lights>
        </div>
    <app-cover  [isOpen]="isOpen"
                [class.opened]="isOpen"
                (open)="open($event)"></app-cover>
    <div class="inside">
        <div class="center">
            <div class="screen-outer">
                <div class="screen-inner">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="base">
            <app-controls-layout></app-controls-layout>
        </div>
    </div>
</div>
