<div class="top-blue circle">
    <div class="top-blue-inner circle"  [class.opened]="isOpen">
        <div class="shine"></div>
    </div>
</div>
<div class="top-traffic-lights">
    <div class="traffic-light circle"  [class.opened]="isOpen">
        <div class="shine"></div>
    </div>
    <div class="traffic-light circle"  [class.opened]="isOpen">
        <div class="shine"></div>
    </div>
    <div class="traffic-light circle"  [class.opened]="isOpen">
        <div class="shine"></div>
    </div>
</div>